@import "../../assets/styles/variables_font_size";
.question_or_cart_number__container {
  font-size: $font-size-small;
  .cart_title {
    font-size: $font-size-small;
    font-family: OnestRegular, serif;
    color: white;
    line-height: 115%;
  }
}
