@import "../../../assets/styles/mixin_media";
@keyframes move_eclipse {
  0% { transform: translate(0, 0); }
  10% { transform: translate(70px, 30px); }
  20% { transform: translate(70px, 50px); }
  30% { transform: translate(50px, -20px); }
  40% { transform: translate(-50px, 40px); }
  50% { transform: translate(-100px, -20px); }
  60% { transform: translate(50px, -70px); }
  70% { transform: translate(30px, 40px); }
  80% { transform: translate(-100px, -50px); }
  90% { transform: translate(-40px, 40px); }
  100% { transform: translate(0, 0); }
}


.eclipse_small {
  animation: move_eclipse 14s linear infinite;
  @include for-phone-only {
    position: fixed;
    bottom: 7rem;
    left: 0;
  }
  @include for-tablet {
    display: none;
  }
}

.eclipse_major {
  animation: move_eclipse 13s linear infinite reverse;
  @include for-phone-only {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 2rem;
    right: 0;
    text-align: center;
    bottom: 14rem;
  }
  @include for-tablet {
    display: none;
  }
}
.eclipse_minor {
  animation: move_eclipse 12s linear infinite alternate;
  @include  for-phone-only {
    position: fixed;
    top: 4rem;
    right: 0;
  }
  @include for-tablet {
    display: none;
  }
}

