@import "../../../assets/styles/mixin_media";

@keyframes move_eclipse  {
  0%, 100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(40px, 40px) scale(1.2);
    opacity: 0.7;
  }
  35% {
    transform: translate(30px, 30px) scale(1.2);
    opacity: 0.7;
  }

  50% {
    transform: translate(-20px, 40px) scale(1);
    opacity: 0.5;
  }
  75% {
    transform: translate(20px, -20px) scale(1.2);
    opacity: 0.7;
  }

}



.eclipse_small {
  animation: move_eclipse 4s linear infinite;
  @include for-phone-only {
    position: fixed;
    bottom: 7rem;
    left: 0;
  }
  @include for-tablet {
    display: none;
  }
}

.eclipse_major {
  animation: move_eclipse 5s linear infinite;
  @include for-phone-only {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 2rem;
    right: 0;
    text-align: center;
    bottom: 14rem;
  }
  @include for-tablet {
    display: none;
  }
}
.eclipse_minor {
  animation: move_eclipse 7s linear infinite ;
  @include  for-phone-only {
    position: fixed;
    top: 4rem;
    right: 3rem;
  }
  @include for-tablet {
    display: none;
  }
}

