<section class="question_failed">
<div class="mb-5">
  <app-title class="text-[26px] ">НЕ <br>
    В ЭТОТ <br> РАЗ...</app-title>
</div>
  <div class="question_failed__description">
  <app-description class="text-white">К сожалению вы не прошли Квест Музея СВО.</app-description>
  <app-description class="text-white">Но не расстраивайтесь. Вы можете посмотреть свои результаты и попробовать ещё раз.</app-description>
  </div>
<app-container-number-card class="w-full flex ">
  <ng-template #numberCard>
 <div class="flex justify-center flex-col items-center py-3 gap-1">
   <app-description class="text-white">Номер карточки</app-description>
   <app-title class="text-[14px]">{{uniqueCode()}}</app-title>
 </div>
  </ng-template>
</app-container-number-card>
</section>
