<section>
  <app-modal >
    <ng-template #modal>
     <div class="py-[32px] px-[16px] gap-5 max-w-[320px]  flex flex-col justify-center text-white " >
      <div class="flex gap-1  ">
        <app-title class="text-[16px]">Запомнили <br> уникаль-ный код?</app-title>
      <app-close-icon [mat-dialog-close]="false"  class="z-[2]"></app-close-icon>
      </div>
      <div class="mb-[40px] gap-5 flex flex-col">
        <app-description>Не забудьте запомнить уникальный код или сделать скриншот</app-description>
        <app-description>Только с кодом вы сможете получить приз на выходе из Музея СВО.</app-description>
      </div>
         <app-container-number-card class="mb-[40px]">
           <ng-template #numberCard>
             <div class="flex flex-col justify-center text-center gap-1 py-[12px] " >
               <app-description>Уникальный код</app-description>
               <app-title class="text-[14px]">{{uniqueCode()}}</app-title>
             </div>
           </ng-template>
         </app-container-number-card>
       <div>
         <app-button-event class="w-full"  [mat-dialog-close]="true" >
           <a href="https://muzey-podvigov.tilda.ws/">
             <div class="flex gap-1 justify-center items-center py-[10px]">
               <app-description>Я запомнил</app-description>
               <img src="../../assets/images/arrow_outward.svg" alt="">
             </div>
           </a>
         </app-button-event>
       </div>
      <div class="grid_bg"></div>
     </div>
    </ng-template>
  </app-modal>
</section>
