@tailwind base;
@tailwind components;
@tailwind utilities;
//import global font-family
@import './assets/styles/global_fonts.scss';
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
html {
  height: 100vh;
}
body {
  background-image: url("./assets/images/BG 1.jpg");
  background-size: cover;
}
