@tailwind base;
@tailwind components;
@tailwind utilities;
//import global font-family
@import './assets/styles/global_fonts.scss';

html {
  height: 100vh;
}
body {
  background-image: url("./assets/images/BG 1.jpg");
  background-size: cover;
}
