//bold akony!!
@font-face {
  font-family: 'Akony';
  src: url('./assets/fonts/akony/akony.woff');
}
//medium onest
@font-face {
  font-family: 'OnestMedium';
  src: url('./assets/fonts/onest/OnestMedium1602-hint.woff');

}
//regular onest
@font-face {
  font-family: 'OnestMedium';
  src: url('./assets/fonts/onest/OnestRegular1602-hint.woff');

}
