// bold akony
@font-face {
  font-family: 'Akony';
  src: url('../fonts/akony/AKONY.woff');
  font-weight: 700;
}

// medium onest
@font-face {
  font-family: 'OnestMedium';
  src: url('../fonts/onest/OnestMedium1602-hint.woff');
  font-weight: 500;
}
// regular onest
@font-face {
  font-family: 'OnestRegular';
  src: url('../fonts/onest/OnestRegular1602-hint.woff');
  font-weight: 400;
}
